.container {
  min-height: 600px;
  width: 550px;
  border-radius: var(--border-radius);
  border: 1px solid;
  margin: 0 auto;
  border-color: var(--border-color);

  textarea {
    width: 85%;
    resize: none;
    height: 120px;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
  }
}

.error {
  font-size: 0.85rem;
  color: var(--error-color);
}

.btnContainer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  button {
    height: 45px;
    transition: all 0.25s ease-in;
    background: var(--light-blue-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.fileInput {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 300px;
  text-align: center;
  border-radius: var(--border-radius);
  svg {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
  input {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
  }
}

.notes {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  label {
    width: 85%;
    text-align: left;
    color: var(--text-color);
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
  }
}

.header {
  color: var(--text-color);
  border-bottom: 2px solid;
  border-color: var(--light-blue-color);
  width: 50%;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 4rem;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
