.formGroup {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    width: 85%;
    text-align: left;
    color: var(--text-color);
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
  }
  input {
    width: 85%;
    border: 1px solid;
    border-color: var(--border-color);
    height: 35px;
    border-radius: var(--border-radius);
  }
}

.error {
  font-size: 0.85rem;
  text-align: center;
  color: var(--error-color);
}
