.userIcon {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  svg {
    font-size: 2.7rem;
    color: var(--blue-color);
    cursor: pointer;
    pointer-events: none;
  }
  position: relative;
}

.profilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
}

.settings {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  svg {
    font-size: 1rem;
    color: var(--text-color);
  }
  a {
    color: var(--text-color);
    margin-left: 0.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
}

.logout {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  svg {
    font-size: 1rem;
    color: var(--text-color);
  }
  p {
    color: var(--text-color);
    margin-left: 0.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.header {
  height: 40px;
  background: var(--light-blue-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  margin-bottom: 1rem;
  p {
    margin: 0;
    padding: 0.25rem;
    color: #fff;
  }
}

.userMenu {
  position: absolute;
  top: 30px;
  z-index: 5;
  right: 30px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  min-height: 300px;
  width: 180px;
}
