.container {
  width: 50%;
  min-height: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    color: var(--black-color);
  }
}

.bullet {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  p {
    text-align: left;
    color: var(--text-color);
    font-family: var(--font-family);
  }
  svg {
    font-size: 18px;
    margin-right: 1rem;
    color: var(--light-blue-color);
  }
}

@media (max-width: 850px) {
  .container {
    background: #fffcfc;

    width: 95%;
    margin-bottom: 1rem;
  }
}
