.container {
  min-height: 100vh;
}

.formGroupContainer {
  flex-direction: row;
  display: flex;
}

.formContainer {
  margin: 5rem auto 1rem auto;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 600px;
  min-height: 500px;
}

.header {
  padding-top: 3rem;
  header {
    h3 {
      color: var(--text-color);
    }
  }
}

.formGroupTitle {
  text-align: left;
  padding: 0.5rem;
  h3 {
    color: var(--text-color);
  }
  p {
    font-size: 0.85rem;
    color: gray;
  }
}

.formGroup {
  width: 45%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    width: 100%;
    text-align: left;
    color: var(--text-color);
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
  }
  input {
    width: 100%;
    border: 1px solid;
    border-color: var(--border-color);
    height: 35px;
    border-radius: var(--border-radius);
  }
}

.error {
  color: var(--error-color);
  font-size: 0.85rem;
}

.message {
  color: #02b602;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  padding-bottom: 1rem;
  button {
    cursor: pointer;
    transition: all 0.25s ease-in;
    background: var(--light-blue-color);
    color: #fff;
    border: none;
    width: 30%;
    height: 40px;
    border-radius: var(--border-radius);
    &:hover {
      opacity: 0.8;
    }
  }
}

.icon {
  top: 5px;
  right: 5px;
  position: absolute;

  svg {
    font-size: 1.3rem;
    color: var(--text-color);
  }
}

.input {
  width: 100%;
  position: relative;
}

@media (max-width: 600px) {
  .formContainer {
    width: 95%;
  }

  .formGroup {
    width: 95%;
  }

  .formGroupContainer {
    flex-direction: column;
  }
  .btnContainer {
    width: 95%;
    margin-bottom: 1rem;
  }
}
